@model TakeATrip.Models.AttractionsViewModel

@{
    ViewBag.Title = "AttrFromHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/jquery-ui.js")
@Scripts.Render("~/Scripts/attrFromHome.js")
@Styles.Render("~/Content/jquery-ui.css")
@Styles.Render("~/Content/attrFromHome.css")
@Styles.Render("~/Content/font-awesome.css")
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css" />

<script>var pixabayWidget = { 'key': '5393889-2ab22bb848a62eebf28c615cc' }</script>
<script src="~/Scripts/pixabay-widget.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>
<h1>Find Your Attraction</h1>

<div>
    @using (Html.BeginForm())
    {
        <div class="col-lg-3">
            @Html.DropDownListFor(model => model.SelectedCatId, Model.CatList, "Select Type", new { @class = "form-control" })
            <div class="pixabay_widget" data-search="@Model.City" data-max-rows="4"></div>

        </div>
        <div class="col-lg-9">
            <table id="attrTable">
                <thead>
                    <tr>
                        <th hidden></th>
                        <th style="width:80%">Name</th>
                        <th style="width:20%">Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AttrList)
                    {
                        <tr>
                            <td> @item.Id</td>
                            <td> @item.Name</td>
                            <td><span class="stars">@item.Ranks.First().Rank</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*<ul>
            @foreach (var item in Model.AttrList)
            {
                <li>
                    <div> @item.Name</div>
                    <div>
                        <span class="stars">@item.Ranks.First().Rank</span>
                    </div>
                    <div> @item.Category.First().Name</div>
                </li>
            }
        </ul>*@
    }
</div>