@model TakeATrip.Models.Attractions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/font-awesome.css")
<link href="~/Content/attrDetails.css" rel="stylesheet" />

<script>var pixabayWidget = { 'key': '5393889-2ab22bb848a62eebf28c615cc' }</script>
<script src="~/Scripts/pixabay-widget.js"></script>
<script src="~/Scripts/attrDetails.js"></script>

<div>
    <div class="page-header">
        <h1>@Html.DisplayFor(model => model.Name)<small id="addressSubtext"></small></h1>
    </div>
    <div>
        <h3>
            <span class="label label-primary" id="rankLabel"></span>
            @if (Model != null)
            {
                <small><span class="stars"></span></small>
            }                      
        </h3>
            @foreach (TakeATrip.Models.Category Cat in Model.Category)
            {
                <h4>
                    @Cat.Name
                </h4>
            }
    </div>
        @Html.HiddenFor(model => model.Location.StartPoint.Latitude)
        @Html.HiddenFor(model => model.Location.StartPoint.Longitude)
        @Html.HiddenFor(model=> model.Id)
    <div id="map"></div>
    <div id="attractionRanks"></div>
    <div class="pixabay_widget" data-search="@Html.DisplayFor(model => model.Name)" data-max-rows="3"></div>

    <script>
        function initMap() {
            var lat = parseFloat($("#Location_StartPoint_Latitude").val());
            var lng = parseFloat($("#Location_StartPoint_Longitude").val());
            // Create a map object and specify the DOM element for display.
            var uluru = { lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: uluru,
                scrollwheel: true,
                zoom: 15

            });
            var  marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN-U0Blvdbgj7PUv2_IOXL8QLqTdXRcS0&libraries=places&callback=initMap"
            async defer></script>
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcTNWh81ax_-e4xDzvNTeoGJmRDoGkE98&libraries=places"></script>*@
</div>
