@model TakeATrip.Models.HomeDataModel

@{
    ViewBag.Title = "Home Page";
}
<!-- https://github.com/matansebton/TakeATrip.git -->
<!-- https://github.com/matansebton/TakeATrip.git -->
@Styles.Render("~/Content/home.css")
@Styles.Render("~/Content/font-awesome.css")
@Scripts.Render("~/Scripts/main.js")
<!-- Home -->
<!-- Find a Tour -->
<section class="tour section-wrapper container">
    <div class="flexslider">
        <h2 class="section-title">
            Explore your Tour
        </h2>
        <div id="homeMainSearch">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 ">
                    <p class="section-subtitle">
                        Where would you like to go?
                    </p>
                </div>
            </div> 
                     
            <div class="row">
                <div class="col-lg-3">
                    <form role="form" class="form-dropdown">
                        <div class="form-group">
                            <label for="CountrySelect" style="float:left;">Select region (select one):</label>
                            <select class="form-control " id="CountrySelect">

                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3" id="CitySelectContainer">

                </div>
                @using (Html.BeginForm())
                {
                    <div class="col-lg-3">
                        @Html.DropDownListFor(model => model.SelectedCatId,Model.CatList,"Select Type", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-3">

                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.City)
                                    @Html.HiddenFor(model => model.Country)
                                    <button type="submit" class="btn btn-default custom-button">Search<span><i id="searchIcon" class="fa fa-search"></i></span></button>
                                </div>
                            </div>
                    
                    </div>
                }
                </div>
        </div>
    </div>
 
</section>

